<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.danchey.traffic.mapper.RoadstateMapper" >
  <resultMap id="BaseResultMap" type="com.danchey.traffic.pojo.Roadstate" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="surveyTime" property="surveytime" jdbcType="DATE" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="investigator" property="investigator" jdbcType="VARCHAR" />
    <result column="roadName" property="roadname" jdbcType="VARCHAR" />
    <result column="length" property="length" jdbcType="DECIMAL" />
    <result column="incline" property="incline" jdbcType="DECIMAL" />
    <result column="section" property="section" jdbcType="VARCHAR" />
    <result column="motorWayWidth" property="motorwaywidth" jdbcType="DECIMAL" />
    <result column="superWayWidth" property="superwaywidth" jdbcType="DECIMAL" />
    <result column="pavementWidth" property="pavementwidth" jdbcType="DECIMAL" />
    <result column="medianWidth" property="medianwidth" jdbcType="DECIMAL" />
    <result column="sidesSeparateBeltWidth" property="sidesseparatebeltwidth" jdbcType="DECIMAL" />
    <result column="redLineWidth" property="redlinewidth" jdbcType="DECIMAL" />
    <result column="start" property="start" jdbcType="VARCHAR" />
    <result column="end" property="end" jdbcType="VARCHAR" />
    <result column="roadLevel_id" property="roadlevelId" jdbcType="INTEGER" />
    <result column="roadbedType_id" property="roadbedtypeId" jdbcType="INTEGER" />
    <result column="coordinate" property="coordinate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, surveyTime, createTime, updateTime, creater, investigator, roadName, length, 
    incline, section, motorWayWidth, superWayWidth, pavementWidth, medianWidth, sidesSeparateBeltWidth, 
    redLineWidth, start, end, roadLevel_id, roadbedType_id, coordinate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.danchey.traffic.pojo.RoadstateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from roadstate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from roadstate
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from roadstate
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.danchey.traffic.pojo.RoadstateExample" >
    delete from roadstate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.danchey.traffic.pojo.Roadstate" >
    insert into roadstate (id, surveyTime, createTime, 
      updateTime, creater, investigator, 
      roadName, length, incline, 
      section, motorWayWidth, superWayWidth, 
      pavementWidth, medianWidth, sidesSeparateBeltWidth, 
      redLineWidth, start, end, 
      roadLevel_id, roadbedType_id, coordinate
      )
    values (#{id,jdbcType=INTEGER}, #{surveytime,jdbcType=DATE}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{creater,jdbcType=VARCHAR}, #{investigator,jdbcType=VARCHAR}, 
      #{roadname,jdbcType=VARCHAR}, #{length,jdbcType=DECIMAL}, #{incline,jdbcType=DECIMAL}, 
      #{section,jdbcType=VARCHAR}, #{motorwaywidth,jdbcType=DECIMAL}, #{superwaywidth,jdbcType=DECIMAL}, 
      #{pavementwidth,jdbcType=DECIMAL}, #{medianwidth,jdbcType=DECIMAL}, #{sidesseparatebeltwidth,jdbcType=DECIMAL}, 
      #{redlinewidth,jdbcType=DECIMAL}, #{start,jdbcType=VARCHAR}, #{end,jdbcType=VARCHAR}, 
      #{roadlevelId,jdbcType=INTEGER}, #{roadbedtypeId,jdbcType=INTEGER}, #{coordinate,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.danchey.traffic.pojo.Roadstate" >
    insert into roadstate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="surveytime != null" >
        surveyTime,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="investigator != null" >
        investigator,
      </if>
      <if test="roadname != null" >
        roadName,
      </if>
      <if test="length != null" >
        length,
      </if>
      <if test="incline != null" >
        incline,
      </if>
      <if test="section != null" >
        section,
      </if>
      <if test="motorwaywidth != null" >
        motorWayWidth,
      </if>
      <if test="superwaywidth != null" >
        superWayWidth,
      </if>
      <if test="pavementwidth != null" >
        pavementWidth,
      </if>
      <if test="medianwidth != null" >
        medianWidth,
      </if>
      <if test="sidesseparatebeltwidth != null" >
        sidesSeparateBeltWidth,
      </if>
      <if test="redlinewidth != null" >
        redLineWidth,
      </if>
      <if test="start != null" >
        start,
      </if>
      <if test="end != null" >
        end,
      </if>
      <if test="roadlevelId != null" >
        roadLevel_id,
      </if>
      <if test="roadbedtypeId != null" >
        roadbedType_id,
      </if>
      <if test="coordinate != null" >
        coordinate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="surveytime != null" >
        #{surveytime,jdbcType=DATE},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="investigator != null" >
        #{investigator,jdbcType=VARCHAR},
      </if>
      <if test="roadname != null" >
        #{roadname,jdbcType=VARCHAR},
      </if>
      <if test="length != null" >
        #{length,jdbcType=DECIMAL},
      </if>
      <if test="incline != null" >
        #{incline,jdbcType=DECIMAL},
      </if>
      <if test="section != null" >
        #{section,jdbcType=VARCHAR},
      </if>
      <if test="motorwaywidth != null" >
        #{motorwaywidth,jdbcType=DECIMAL},
      </if>
      <if test="superwaywidth != null" >
        #{superwaywidth,jdbcType=DECIMAL},
      </if>
      <if test="pavementwidth != null" >
        #{pavementwidth,jdbcType=DECIMAL},
      </if>
      <if test="medianwidth != null" >
        #{medianwidth,jdbcType=DECIMAL},
      </if>
      <if test="sidesseparatebeltwidth != null" >
        #{sidesseparatebeltwidth,jdbcType=DECIMAL},
      </if>
      <if test="redlinewidth != null" >
        #{redlinewidth,jdbcType=DECIMAL},
      </if>
      <if test="start != null" >
        #{start,jdbcType=VARCHAR},
      </if>
      <if test="end != null" >
        #{end,jdbcType=VARCHAR},
      </if>
      <if test="roadlevelId != null" >
        #{roadlevelId,jdbcType=INTEGER},
      </if>
      <if test="roadbedtypeId != null" >
        #{roadbedtypeId,jdbcType=INTEGER},
      </if>
      <if test="coordinate != null" >
        #{coordinate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.danchey.traffic.pojo.RoadstateExample" resultType="java.lang.Integer" >
    select count(*) from roadstate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update roadstate
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.surveytime != null" >
        surveyTime = #{record.surveytime,jdbcType=DATE},
      </if>
      <if test="record.createtime != null" >
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatetime != null" >
        updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creater != null" >
        creater = #{record.creater,jdbcType=VARCHAR},
      </if>
      <if test="record.investigator != null" >
        investigator = #{record.investigator,jdbcType=VARCHAR},
      </if>
      <if test="record.roadname != null" >
        roadName = #{record.roadname,jdbcType=VARCHAR},
      </if>
      <if test="record.length != null" >
        length = #{record.length,jdbcType=DECIMAL},
      </if>
      <if test="record.incline != null" >
        incline = #{record.incline,jdbcType=DECIMAL},
      </if>
      <if test="record.section != null" >
        section = #{record.section,jdbcType=VARCHAR},
      </if>
      <if test="record.motorwaywidth != null" >
        motorWayWidth = #{record.motorwaywidth,jdbcType=DECIMAL},
      </if>
      <if test="record.superwaywidth != null" >
        superWayWidth = #{record.superwaywidth,jdbcType=DECIMAL},
      </if>
      <if test="record.pavementwidth != null" >
        pavementWidth = #{record.pavementwidth,jdbcType=DECIMAL},
      </if>
      <if test="record.medianwidth != null" >
        medianWidth = #{record.medianwidth,jdbcType=DECIMAL},
      </if>
      <if test="record.sidesseparatebeltwidth != null" >
        sidesSeparateBeltWidth = #{record.sidesseparatebeltwidth,jdbcType=DECIMAL},
      </if>
      <if test="record.redlinewidth != null" >
        redLineWidth = #{record.redlinewidth,jdbcType=DECIMAL},
      </if>
      <if test="record.start != null" >
        start = #{record.start,jdbcType=VARCHAR},
      </if>
      <if test="record.end != null" >
        end = #{record.end,jdbcType=VARCHAR},
      </if>
      <if test="record.roadlevelId != null" >
        roadLevel_id = #{record.roadlevelId,jdbcType=INTEGER},
      </if>
      <if test="record.roadbedtypeId != null" >
        roadbedType_id = #{record.roadbedtypeId,jdbcType=INTEGER},
      </if>
      <if test="record.coordinate != null" >
        coordinate = #{record.coordinate,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update roadstate
    set id = #{record.id,jdbcType=INTEGER},
      surveyTime = #{record.surveytime,jdbcType=DATE},
      createTime = #{record.createtime,jdbcType=TIMESTAMP},
      updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      creater = #{record.creater,jdbcType=VARCHAR},
      investigator = #{record.investigator,jdbcType=VARCHAR},
      roadName = #{record.roadname,jdbcType=VARCHAR},
      length = #{record.length,jdbcType=DECIMAL},
      incline = #{record.incline,jdbcType=DECIMAL},
      section = #{record.section,jdbcType=VARCHAR},
      motorWayWidth = #{record.motorwaywidth,jdbcType=DECIMAL},
      superWayWidth = #{record.superwaywidth,jdbcType=DECIMAL},
      pavementWidth = #{record.pavementwidth,jdbcType=DECIMAL},
      medianWidth = #{record.medianwidth,jdbcType=DECIMAL},
      sidesSeparateBeltWidth = #{record.sidesseparatebeltwidth,jdbcType=DECIMAL},
      redLineWidth = #{record.redlinewidth,jdbcType=DECIMAL},
      start = #{record.start,jdbcType=VARCHAR},
      end = #{record.end,jdbcType=VARCHAR},
      roadLevel_id = #{record.roadlevelId,jdbcType=INTEGER},
      roadbedType_id = #{record.roadbedtypeId,jdbcType=INTEGER},
      coordinate = #{record.coordinate,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.danchey.traffic.pojo.Roadstate" >
    update roadstate
    <set >
      <if test="surveytime != null" >
        surveyTime = #{surveytime,jdbcType=DATE},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="investigator != null" >
        investigator = #{investigator,jdbcType=VARCHAR},
      </if>
      <if test="roadname != null" >
        roadName = #{roadname,jdbcType=VARCHAR},
      </if>
      <if test="length != null" >
        length = #{length,jdbcType=DECIMAL},
      </if>
      <if test="incline != null" >
        incline = #{incline,jdbcType=DECIMAL},
      </if>
      <if test="section != null" >
        section = #{section,jdbcType=VARCHAR},
      </if>
      <if test="motorwaywidth != null" >
        motorWayWidth = #{motorwaywidth,jdbcType=DECIMAL},
      </if>
      <if test="superwaywidth != null" >
        superWayWidth = #{superwaywidth,jdbcType=DECIMAL},
      </if>
      <if test="pavementwidth != null" >
        pavementWidth = #{pavementwidth,jdbcType=DECIMAL},
      </if>
      <if test="medianwidth != null" >
        medianWidth = #{medianwidth,jdbcType=DECIMAL},
      </if>
      <if test="sidesseparatebeltwidth != null" >
        sidesSeparateBeltWidth = #{sidesseparatebeltwidth,jdbcType=DECIMAL},
      </if>
      <if test="redlinewidth != null" >
        redLineWidth = #{redlinewidth,jdbcType=DECIMAL},
      </if>
      <if test="start != null" >
        start = #{start,jdbcType=VARCHAR},
      </if>
      <if test="end != null" >
        end = #{end,jdbcType=VARCHAR},
      </if>
      <if test="roadlevelId != null" >
        roadLevel_id = #{roadlevelId,jdbcType=INTEGER},
      </if>
      <if test="roadbedtypeId != null" >
        roadbedType_id = #{roadbedtypeId,jdbcType=INTEGER},
      </if>
      <if test="coordinate != null" >
        coordinate = #{coordinate,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.danchey.traffic.pojo.Roadstate" >
    update roadstate
    set surveyTime = #{surveytime,jdbcType=DATE},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      creater = #{creater,jdbcType=VARCHAR},
      investigator = #{investigator,jdbcType=VARCHAR},
      roadName = #{roadname,jdbcType=VARCHAR},
      length = #{length,jdbcType=DECIMAL},
      incline = #{incline,jdbcType=DECIMAL},
      section = #{section,jdbcType=VARCHAR},
      motorWayWidth = #{motorwaywidth,jdbcType=DECIMAL},
      superWayWidth = #{superwaywidth,jdbcType=DECIMAL},
      pavementWidth = #{pavementwidth,jdbcType=DECIMAL},
      medianWidth = #{medianwidth,jdbcType=DECIMAL},
      sidesSeparateBeltWidth = #{sidesseparatebeltwidth,jdbcType=DECIMAL},
      redLineWidth = #{redlinewidth,jdbcType=DECIMAL},
      start = #{start,jdbcType=VARCHAR},
      end = #{end,jdbcType=VARCHAR},
      roadLevel_id = #{roadlevelId,jdbcType=INTEGER},
      roadbedType_id = #{roadbedtypeId,jdbcType=INTEGER},
      coordinate = #{coordinate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>